@media screen and (max-width: 1200px) and (min-width: 993px) {
    .container{
        width: 946px;
        padding: 0 15px;
    }

    .header-fade-left{
        display: none;
    }

    .header-fade-right{
        display: none;
    }

    .header-arrow-left{
        display: none;
    }

    .header-arrow-right{
        display: none;
    }



}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .header-head{
        height: auto;
    }

    .container {
        width: 722px;
        padding: 0 15px;
    }

    .header-fade-left{
        display: none;
    }

    .header-fade-right{
        display: none;
    }

    .header-arrow-left{
        display: none;
    }

    .header-arrow-right{
        display: none;
    }

    .menu-item{
        width: 50%;
    }

    .dg-container{
        display: none;
    }

    .header-arrow-left{
        display: none;
    }

    .header-arrow-right{
        display: none;
    }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
    .container{
        width: 93%;
        padding: 0 15px;
    }

    .header-head{
        height: auto;
    }

    .header-fade-left{
        display: none;
    }

    .header-fade-right{
        display: none;
    }

    .menu-item{
        width: 90%;
    }

    .dg-container{
        display: none;
    }

    .header-arrow-left{
        display: none;
    }

    .header-arrow-right{
        display: none;
    }

    .footer-top-left{
        width: 90%;
        float: left;
        margin-right: 3%;
    }

    .footer-top-right{
        width: 90%;
        float: left;
    }

    .menu-main-middle-fon{
        display: none;
    }

    .menu-main-bottom-line{
        width: 100%;
    }
}

@media screen and (max-width: 479px) and (min-width: 320px) {

    .container{
        width: 93%;
        padding: 0 15px;
    }

    .header-head{
        height: auto;
    }

    .header-fade-left{
        display: none;
    }

    .header-fade-right{
        display: none;
    }

    .menu-item{
        width: 90%;
        float: none;
        margin:0 auto;
    }

    .dg-container{
        display: none;
    }

    .header-arrow-left{
        display: none;
    }

    .header-arrow-right{
        display: none;
    }

    .footer-top-left{
        width: 90%;
        float: left;
        margin-right: 3%;
    }

    .footer-top-right{
        width: 90%;
        float: left;
    }

    .menu-main-middle-fon{
        display: none;
    }

    .menu-main-bottom-line{
        width: 100%;
    }

}

@media all and (min-width : 541px) {
    .header-dropdown ul li:hover > ul
    {
        display:block
    }
}


@media all and (max-width : 540px) {


    .header-dropdown { margin: 0; }

    .header-dropdown-templates{ display: none !important;}

    .header-dropdown-menu { display: none; }

    .toggle {
        display: block;
        color: rgb(241, 238, 229);
        padding:5px 15px 8px 15px;
        font-family: 'HelveticaNeue-700';
        font-size: 13px;
        line-height: 22px;
        text-decoration: none;
        border: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }

    .toggle:hover { background-color: #000000; }

    [id^=drop]:checked + ul { display: block; }

    .header-dropdown ul li {
        display: block;
        width: 100%;
    }

    .header-dropdown ul ul .toggle,
    .header-dropdown ul ul a { padding-left: 40px }

    .header-dropdown ul ul ul a { padding: 0 80px; }

    .header-dropdown a:hover,
    .header-dropdown ul ul ul a { background-color: #000000; }


    .header-dropdown ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    .header-dropdown ul ul li:hover > ul,

    .header-dropdown ul ul li {
        display: block;
        width: 100%;
    }

    .header-dropdown ul ul ul li {
        position: static;
    }

    .header-head{
        position: relative;
        height: auto;
        background-size: 100% 200%;
    }

}